/*---- Generelle indstillinger ------ */

body {
    margin: 0 auto;
    padding: 0;
}

img {
    width: 100%;
    box-shadow: 0px 0px 15px 0px rgba(179, 179, 179, 1);
}

section {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

h1 {
    font-size: 2rem;
    font-weight: 300;
    font-family: 'Source Code Pro', monospace;
    text-align: center;

}

h2 {
    font-size: 1.5rem;

}

p {
    font-family: 'Quicksand', sans-serif;
}

.data-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 10px;
    grid-gap: 5px;
}

.valgt {
    color: red;
}



/*---- Generelle indstillinger  SLUT ------ */


/***--------------Menu-----------***/

header {
    width: 100vw;
    background-color: whitesmoke;

}

header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


header nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    align-content: center;
}

header a {
    padding: 0.5rem;
    display: flex;
    color: black;
    font-family: 'Quicksand', sans-serif;
}


header nav a:visited {
    color: black;
}

header nav a:hover {
    color: darksalmon;
}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
}

#menuknap {
    display: inline-block;
    color: black;
    margin: 0.5rem;
}

.velkommen_kasse {
    background-image: url(imgs/large/pavlova.jpg);

    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 60% 10%;
    max-width: none;
    opacity: 50%;
}

/********menu slut *******/


/********kontakt start *******/

#footer {
    background-color: white;
    margin: 20px;
}

#footer h1 {
    color: black;
    font-size: 1.5rem;
}

#footer .sectionwrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    margin: 10px;
    grid-gap: 5px;
    border-top: solid 1px grey;

}

#footer .aabningstider p {
    color: black;
    text-align: center;
}

#footer .kontakt p {
    color: black;
    text-align: center;
}

#footer .kontakt a {
    color: #c7aea0;
}

/*
#footer .aabningstider .kontakt .some {
    flex-grow: 2;
    flex-basis: 300px;
}
*/

/*
#footer .some {
    display: flex;
}

.insta {
    background-size: cover;
    margin-right: 2rem;
    margin-left: 4rem;
    height: 10.3vw;
    width: 10.2vw;
}

.face {
    background-size: cover;
    height: 10.3vw;
    width: 10.2vw;
}

.andcopy {
    color: white;
    text-align: center;
}
*/

/********kontakt slut *******/

/********buttons start *******/

#filter_menu {
    margin: 2vw;
    align-content: center;
}

button.filter {
    width: 16%;
    font-weight: 100;
    text-align: center;
    font-size: 16px;
    color: black;
    margin-bottom: 1px;
    padding: 10px 20px;
    border: 0;
    border-bottom: solid 1px;
    cursor: pointer;
    box-shadow: none;
}

button.filter:hover {
    background-color: darksalmon;
}

/********buttons slut *******/


.menu_view {
    border: 2px solid grey;
    padding: 1vw;
    margin: 1vw;
}


/********media q *******/

@media only screen and (min-width:800px) {

    #menuknap {
        display: none;
    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
        display: inline-block;
    }

    header ul {
        display: inline-block;
        letter-spacing: 1px;

    }

    header nav {
        padding: 0.1rem;
    }


    header nav li {
        padding: 0.3rem;
        background-color: transparent;
        margin: 0.8rem;
        text-decoration: none;
        color: black;
    }


    /*
    #logo_splash {
        background-image: url(billeder/logo.svg);
        height: 30vw;
        width: 60vw;
        background-size: cover;
        position: absolute;
        top: 20vw;
        left: 20vw;
    }
*/

}

@media screen and (min-width: 550px) .velkommen_kasse {
    margin: 0 auto;
    width: 80%;
    background: rgba(255, 255, 255, 0.7);
    padding: 40px 0px;
    box-shadow: 0px 0px 15px 0px rgba(56, 56, 56, 1);
}

@media screen and (min-width: 900px) .velkommen_kasse {
    width: 50%;
}
